.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Chroma DB
.chroma_db/
*.sqlite3


# Logs
*.log

# node
node_modules/

# Build
build/
dist/

# Others
*.sqlite3
